{% if count > 0 %}
    {% if count > 1 %}
        Vos numéros :
    {% else %}
        Votre numéro :
    {% endif %}
    {% for task in task_list %}
        {{ task.text }}
    {% endfor %}
{% else %}
    Il n'y a pas de numéro
{% endif %}