
j'ai ajouté le {{ added_task.task[-2:] }} {{added_task.task[4:8]  | replace("-01-"," janvier ") | replace("-02-"," février ") | replace("-03-"," mars ") | replace("-04-"," avril ") | replace("-05-"," mai ") | replace("-06-"," juin ") | replace("-07-"," juillet ") | replace("-08-"," out") | replace("-09-"," septembre ") | replace("-10-"," octobre ") | replace("-11-"," novembre ") | replace("-12-"," décembre ") }} {{added_task.task[:4] }}