
{% if count > 0 %}
    {% if count > 1 %}
        Vos dates :
    {% else %}
        Votre date :
    {% endif %}
    {% for task in task_list %}
        {{ task.due_date_day }} {{ task.due_date_month | replace("01","janvier") | replace("02","février") | replace("03","mars") | replace("04","avril") | replace("05","mai") | replace("06","juin") | replace("07","juillet") | replace("08","out") | replace("09","septembre") | replace("10","octobre") | replace("11","novembre") | replace("12","décembre") }} {{ task.due_date_year }}
    {% endfor %}
{% else %}
    Il n'y a pas de date
{% endif %}